@charset "UTF-8";
*{
 
  font-family: Arial, Helvetica, sans-serif;
}
body{
  background-image: linear-gradient(to right,#FFCB9A,hsl(28, 49%, 70%));  
}
img{
    border-radius:30px;
   
}
p{
  text-align: justify;
}

main{
  background-color: white;
  box-shadow: 5px 5px 10px hsl(28, 26%, 41%);
  width: 600px;
  margin-top: 20px;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
}